name: The Final Redemption

on:
  workflow_dispatch:
    inputs:
      image_name:
        description: '镜像名称'
        required: true
        default: 'dandanplay/dandanplay-server:latest'

jobs:
  download_from_russia:
    runs-on: ubuntu-latest
    steps:
      - name: Pull from Huecker (Russia)
        run: |
          # 这是一个俄罗斯的代理，专门治各种不服
          # 另外，我们把镜像换成了官方维护的 dandanplay/dandanplay-server
          # kaedei 那个太老了，可能很多代理站都删缓存了
          
          TARGET_IMAGE="${{ github.event.inputs.image_name }}"
          PROXY_URL="huecker.io/${TARGET_IMAGE}"
          
          echo "正在请求俄罗斯援军: $PROXY_URL ..."
          
          docker pull "$PROXY_URL"
          
          # 拉下来后，给它改个名字，改回标准名字
          echo "正在重新标记镜像..."
          docker tag "$PROXY_URL" "$TARGET_IMAGE"
          docker rmi "$PROXY_URL"

      - name: Save Docker Image to Tar
        run: |
          docker save -o dandanplay.tar ${{ github.event.inputs.image_name }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: dandanplay-final
          path: dandanplay.tar
          retention-days: 1
